<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Extrato</h1>
</div>
<div class="container">
  <form action="" class="form-inline">
    <div class="form group mb-4">
      <h3>Selecionar Período: {{filtroLista}}</h3>
      <input typer="text" class="form-control mr-2" placeholder="Buscar">
      <button class="btn btn-info btn-blue btn-sucess ">Buscar</button>
    </div>
  </form>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Descrição</th>
        <th>Entrada/Saida</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Pacerlas</th>
      </tr>
    </thead>
      <tr *ngFor="let entrada of service.list">
        <td>{{entrada.descricao}}</td>
        <td>{{entrada.tipo}}</td>
        <td>{{entrada.data}}</td>
        <td>{{entrada.valor}}</td>
        <td>{{entrada.parcela}}</td>
      </tr>
    <tfoot>
      <tr *ngIf="!service.list.length">
        <td colspan="8">
          <h4>Nenhuma entrada registrada</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
