<div class="jumbotron py-3">
  <h1 class="display-4 text-center">Extrato</h1>
</div>
<div class="container">
  <div class="form-row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtroLista">
    </div>
    <div class="form-group col-md-2">
      <select class="form-select" class="form-control" [(ngModel)]="botao">
        <option>Todos</option>
        <option>Entradas</option>
        <option>Saidas</option>
      </select>
    </div>
  </div>
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Data</th>
          <th>Parcelas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pesquisa of service.list">
          <td>{{pesquisa.descricao}}</td>
          <td>{{pesquisa.valor}}</td>
          <td>{{pesquisa.data | date: 'dd-MM-yyyy'}}</td>
          <td>{{pesquisa.parcela}}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pesquisa.id)"></i>
          </td>
        </tr>
      </tbody>
      <!-- <tbody *ngIf="(botao == 'Entradas')">
      <tbody *ngFor="let pd of service.list">
        <tr *ngIf="pd.entrada == true">
          <td (click)="populateForm(pd)">{{pd.descricao}}</td>
          <td (click)="populateForm(pd)">{{pd.valor}}</td>
          <td (click)="populateForm(pd)">{{pd.data | date: 'dd-MM-yyyy'}}</td>
          <td (click)="populateForm(pd)">{{pd.parcela}}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i>
          </td>
        </tr>
      </tbody> -->
      <!-- <tbody *ngIf="(botao == 'Saidas')">
        <tbody *ngFor="let pd of service.list">
          <tr *ngIf="pd.entrada == false">
            <td (click)="populateForm(pd)">{{pd.descricao}}</td>
            <td (click)="populateForm(pd)">{{pd.valor}}</td>
            <td (click)="populateForm(pd)">{{pd.data | date: 'dd-MM-yyyy'}}</td>
            <td (click)="populateForm(pd)">{{pd.parcela}}</td>
            <td>
              <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i>
            </td>
          </tr>
        </tbody> -->
    </table>
  </div>
</div>
